# Entorno virtual
.venv

# Python
__pycache__/
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Spark / Hadoop temporales en local
.spark-staged/
derby.log
metastore_db/
spark-warehouse/

# Ignorar las carpetas de salida crudas de Spark
data/processed/consolidado_clientes_transacciones/

# Sistema operativos
.DS_Store
Thumbs.db